body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
    width: 280px;
    height: 470px;
}


.photo img {
    width:240px ;
    margin: 17px;
    height : 200px;
    border-radius: 5px;
}

.footer img {
    width:69px;
}

.footer {
    display: flex;
}


.content .title {
    margin-top: -10px;
    margin-left: 17px;
    color: #fff;
}

.description {
    width:260px ;
    margin-left: 17px;
    color: #666;
}


.special {
    display: flex;
    justify-content: space-between;
}

.special .days {
    margin-right: 5px;
    color: #666;
}
.special .days i {
    color: #666;
    margin-right: 5px;
}

.special .price  {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.9;
    color: #2cbdc3;
}

.special .price  i {
    margin-right: 5px;
}





hr {
    width: calc(100% - 40px);
    opacity: 0.7;
    margin-top: 20px;
}

.footer {
    margin-left: 17px;
    gap: 10px;
    color: #666;
}

.footer img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.footer strong {
    color: #fff;
}


